/* @pc: #F2594B;
@SC: #D2D904;
@TC: #04D939;
@FC: #05C7F2;
@LC: #05AFF2; */

/* Color Theme Swatches in Hex */
.Colliding-Power-1-hex { color: #363432; }
.Colliding-Power-2-hex { color: #196774; }
.Colliding-Power-3-hex { color: #90A19D; }
.Colliding-Power-4-hex { color: #F0941F; }
.Colliding-Power-5-hex { color: #EF6024; }

/* Color Theme Swatches in RGBA */
.Colliding-Power-1-rgba { color: rgba(54, 52, 50, 1); }
.Colliding-Power-2-rgba { color: rgba(25, 103, 116, 1); }
.Colliding-Power-3-rgba { color: rgba(144, 161, 157, 1); }
.Colliding-Power-4-rgba { color: rgba(240, 148, 31, 1); }
.Colliding-Power-5-rgba { color: rgba(239, 96, 36, 1); }

/* Color Theme Swatches in HSLA */
.Colliding-Power-1-hsla { color: hsla(30, 3, 20, 1); }
.Colliding-Power-2-hsla { color: hsla(188, 64, 27, 1); }
.Colliding-Power-3-hsla { color: hsla(165, 8, 59, 1); }
.Colliding-Power-4-hsla { color: hsla(33, 87, 53, 1); }
.Colliding-Power-5-hsla { color: hsla(17, 86, 53, 1); }

*{
  background-color: #363432;
}

h1 {
  color: #EF6024;
}

.btn {
  background-color: #05C7F2;
  color: #363432;
}

.btn:hover {
  background-color: #196774;
  color:#F2F2F2;
}
.cont,
.boton,
.content {
  background-color: #363432;
}
.seq{
  color: #F2F2F2;
}